<div class="row">
  <div class="col-lg-3">
    <app-side-bar title="Kategoriler"></app-side-bar>
  </div>  
  <div class="col-lg-9">
    <div class="container">
        <app-carousel></app-carousel>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <app-product-card></app-product-card>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <app-product-card></app-product-card>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <app-product-card></app-product-card>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <app-product-card></app-product-card>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <app-product-card></app-product-card>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <app-product-card></app-product-card>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <app-product-card></app-product-card>
          </div>
        </div>
    </div>

  </div>
</div>
