<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let promotion of promotions; let i = index" data-target="#carouselExampleIndicators"  [ngClass]="{'active' : i === 0}"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div *ngFor="let promotion of promotions; let i = index" class="carousel-item" [ngClass]="{'active' : i === 0}">
      <a *ngIf="promotion.url; else noLink" href="" [routerLink]="'/' + promotion.url">
          <img class="d-block img-fluid" src="{{promotion.image}}" alt="{{promotion.name}}">
      </a>
      <ng-template #noLink>
          <img class="d-block img-fluid" src="{{promotion.image}}" alt="{{promotion.name}}">
      </ng-template>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Geri</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">İleri</span>
  </a>
</div>
