<div class="row">
  <div class="col-lg-3">
    <app-side-bar></app-side-bar>
  </div>  
  <div class="col-lg-9">
    <br/>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <app-product-card></app-product-card>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <app-product-card></app-product-card>
      </div>
    </div>
  </div>
</div>
