<div class="card h-100">
  <a href="javascript:void(0)"><img class="card-img-top" src="{{product?.image}}" alt="{{product?.name}}" onError="this.src='../../../../assets/images/shop-placeholder.png';"></a>
  <div class="card-body">
    <div class="card-title">
      <span>{{product?.name}}</span>
    </div>
    <div class="card-text">
      <span>{{product?.price}} TL</span>
    </div>
  </div>
  <div class="card-footer text-center">
    <button (click)="addToCart($event)" type="button" class="btn btn-success">Sepete Ekle</button>
  </div>
</div>
