<div class="card h-100">
  <a href="javascript:void(0)"><img class="card-img-top" src="{{product?.image}}" alt="{{product?.name}}"></a>
  <div class="card-body">
    <h4 class="card-title">
      <span>{{product?.name}}</span>
    </h4>
    <h5>{{product?.price}} TL</h5>
    <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p> -->
  </div>
  <div class="card-footer text-right">
    <button type="button" class="btn btn-warning">Ekle</button>
  </div>
</div>
