<br>      
<div *ngIf="(cartItemsQty$ | async) > 0; else noData" class="card">
    <div class="text-right px-4 py-2">
        <a class="text-success" href="javascrip:void(0)" routerLink="/home" >Alışverişe Devam Et</a>
    </div>    
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">Ürün</th>
          <th scope="col" class="d-none d-md-table-cell">Ürün Sayısı</th>
          <th scope="col" class="d-none d-md-table-cell">Birim Fiyat</th>
          <th scope="col">Ürün Toplamı</th>
          <th scope="col" class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartItem of cartItems$ | async">
          <td class="d-table-cell d-md-none">
            <h6 class="title text-truncate">{{cartItem.product?.name}}</h6>
            <app-number-stepper [value]="cartItem.qty"
                                (onValueChanged)="updateItemQty($event, cartItem.product )"></app-number-stepper>
          </td>
          <td class="d-none d-md-table-cell">
            <figure class="media">
              <div class="img-wrap">
                <img src="{{cartItem.product?.image}}" class="img-fluid img-sm"></div>
              <figcaption class="media-body">
                <h6 class="title text-truncate">{{cartItem.product?.name}}</h6>
              </figcaption>
            </figure>
          </td>
          <td class="d-none d-md-table-cell">
            <app-number-stepper [value]="cartItem.qty"
                                (onValueChanged)="updateItemQty($event, cartItem.product )"></app-number-stepper>
          </td>
          <td class="d-none d-md-table-cell">{{cartItem.product?.price | number:'1.2-2'}} TL</td>
          <td>{{cartItem.rowTotal  | number:'1.2-2'}} TL</td>
          <td class="text-right">
            <a href="javascrip:void(0)" (click)="removeFromCart($event, cartItem.product)" class="btn btn-outline-danger">Sil</a>
          </td>
        </tr>
      </tbody>
    </table>
  <div class="card-footer text-right">
    <p><b>Genel Toplam: </b> <span>{{(cartTotal$ | async) | number:'1.2-2'}} TL</span> </p>
    <a href="javascrip:void(0)" (click)="emptyCart($event)" class="btn btn-outline-danger">Sepeti Temizle</a>
  </div>
</div>
<ng-template #noData>
  <div class="cart__no-data">
      <i class="fa fa-flag"></i>
      <p>Sepetinizde ürün bulunmuyor.</p>
      <a href="javascrip:void(0)" routerLink="/home" class="btn btn-outline-success">Alışverişe Başla</a>
  </div>
</ng-template>
<br/>


