.cart {
    &__no-data {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
        text-align: center;
        color: #fff;
        color: gainsboro;
        i {
            font-size: 120px;
            display: block;
            margin-bottom: 20px;;
        }
    }
}

.media {
    img {
        margin-right: 1rem;
    }
}

.img-sm {
    width: 90px;
    max-height: 75px;
    object-fit: cover;
}