$bg-color: #f9f9f9;

@font-face {
    font-family: lato-regular;
    src: url(assets/fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: lato-regular-italic;
    src: url(assets/fonts/Lato-Italic.ttf) format("truetype");
}

@font-face {
    font-family: nunito-regular;
    src: url(assets/fonts/NunitoSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: nunito-regular-italic;
    src: url(assets/fonts/NunitoSans-Italic.ttf) format("truetype");
}

body {
    font-family: 'nunito-regular';
}

body {
    padding-top: 56px;
    background-color: $bg-color;
}
